.advantages {
  background-color: #f2f2f2;
  padding-left: 30px;
  padding-right: 31px;
  text-align: center;
}

.advantages__list {
  list-style: none;
}

.advantages__list-add {
  display: none;
}

.advantages__intro {
  color: @dark;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.advantages__list-head {
  color: black;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.advantages__list-description {
  color: @dark;
  font-weight: 300;
}

.advantages__list-time {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages__intro {
    font-size: 40px;
  }

  .advantages__list {
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    padding-left: 329px;
    text-align: left;
    padding-top: 104px;
  }

  .advantages__list-add-timer {
    position: absolute;
    opacity: 0.2;
    transform: translate(110px, 50px);
  }

  .advantages__list-add-24 {
    font-size: 96px;
    line-height: 149.5px;
    color: #d22856;
    font-weight: 700;
    border: 15px solid #d22856;
    border-radius: 50%;
    width: 202px;
    height: 202px;
    position: relative;
  }

  .advantages__list-add {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__list-add-description {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: @blue;
  }

  .advantages__list-add-link {
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
  }

  .advantages__list-add-head {
    color: black;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list-time {
    display: flex;
    width: 525px;
    justify-content: center;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    padding-left: 163px;
    padding-right: 165px;
    background-image: none;
  }

  .advantages__intro {
    font-size: 50px;
    line-height: normal;
    width: 731px;
    margin: auto;
  }

  .advantages__list-head {
    font-size: 30px;
    line-height: 30px;
    width: 236px;
    padding-top: 361px;
  }

  .advantages__list-add-head {
    font-size: 30px;
    line-height: 30px;
    width: 525px;
    padding-right: 166px;
  }

  .advantages__list-description {
    font-size: 18px;
    line-height: 30px;
    width: 236px;
  }

  .advantages__list-add-timer {
    position: absolute;
    opacity: 0.2;
    transform: translate(110px, 50px);
  }

  .advantages__list-add-24 {
    font-size: 120px;
    line-height: 187px;
    color: #d22856;
    font-weight: 700;
    border: 15px solid #d22856;
    border-radius: 50%;
    width: 253px;
    height: 253px;
    position: relative;
    margin-left: 131px;
  }

  .advantages__list-add {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__list-add-description {
    font-size: 18px;
    line-height: 30px;
    width: 525px;
    text-align: left;
  }

  .advantages__list-add-link {
    font-size: 18px;
    line-height: 30px;
    color: #d22856;
  }

  .advantages__list-phone-black {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
  }

  .advantages__list-phone-pink {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
  }

  .advantages__list-phone-smile {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
  }
}
