.advantages__list {
  background-color: #f2f2f2;
  padding-left: 34px;
  padding-right: 34px;
  list-style: none;
  text-align: center;
}

.advantages__intro {
  color: @dark;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.advantages__list-head {
  color: black;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.advantages__list-description {
  color: @dark;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
