.banner {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-color: @blue;
}

.banner__head {
    font-weight: 300;
    font-size: 24px;
    color: white;
    margin-top: 0;
    text-align: center;
}
