.contacts {
  text-align: center;
  padding-left: 44px;
  padding-right: 39px;
}

.contacts__head {
  color: @dark;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
}

.contacts__list {
  list-style: none;
  padding-left: 0;
}

.contacts__text {
  color: @dark;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 11px;
}

.contacts__number,
.contacts__email,
.contacts__address {
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  margin-top: 0;
}
