.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__youtube,
.footer__twitter,
.footer__facebook {
  fill: #d22856;
}

.footer__youtube {
  transform: translate(100%, 80%);
}

.footer__twitter {
  transform: translate(60%, 80%);
}

.footer__facebook {
  transform: translate(170%, 60%);
}

.footer__logo {
  display: flex;
  justify-content: center;
}

.footer__logo:hover {
  fill: #d22856;
}

.footer__logo:active {
  fill: #d22856;
  opacity: 0.5;
}

.footer__icon {
  display: flex;
  fill: #d22856;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  text-decoration: none;
}

.footer__icon:active {
  opacity: 0.5;
}

.footer__html-logo {
  fill: #d22856;
}

.footer__developer {
  line-height: 18px;
  color: @dark;
  font-weight: 300;
  margin-right: 15px;
  display: inline-block;
  transform: translateY(-10px);
}

.footer__links {
  border: 3px solid rgba(40, 54, 59, 0.1);
  border-radius: 50%;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  display: block;
}

.footer__links:hover {
  border: 3px solid rgba(40, 54, 59, 1);
}

@media (min-width: @tablet-width) {
  .footer {
    padding: 0;
    height: 127px;
    padding-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    padding: 0;
    height: 197px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    align-items: center;
  }
}
