.giveaway__name {
  font-weight: 300;
  font-size: 24px;
  color: white;
  margin-top: 0;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  padding-top: 35px;
  padding-bottom: 90px;
  text-align: center;
  line-height: 30px;
  padding-right: 46px;
  padding-left: 46px;
}

.giveaway__description {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: @dark;
  text-align: center;
  padding: 54px 24px 49px 25px;
}

@media (min-width: @tablet-width) {
  .giveaway__name {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-color: @blue;
    background-size: cover;
    height: 729px;
    padding-top: 184px;
    font-size: 50px;
    margin-bottom: 0;
    line-height: normal;
    padding-left: 97px;
    padding-right: 93px;
  }
}

@media (min-width: @desktop-width) {
  .giveaway__name {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-color: @blue;
    background-size: cover;
    height: 394px;
    padding-top: 184px;
    font-size: 50px;
    margin-bottom: 0;
    line-height: normal;
    padding-left: 230px;
    padding-right: 220px;
  }
}
