.main-nav__toggle {
    text-align: center;
    background: none;
    border: none;
    outline: none;
    margin-left: 150px;
    margin-top: 21px;
}

.main-nav__wrapper {
    display: flex;
    justify-content: center;
}

.main-nav__svg {
    fill: white;
}

.main-nav__svg:hover {
    fill: #d22856;
}

.main-nav__svg:active {
    fill: #d22856;
    opacity: 0.5;
}