.main-nav__toggle {
  text-align: center;
  background: none;
  border: none;
  outline: none;
  margin-left: 150px;
  margin-top: 21px;
}

.main-nav__toggle svg {
  fill: white;
}

.main-nav__toggle:hover svg {
  fill: #d22856;
}

.main-nav__toggle:active svg {
  fill: #d22856;
  opacity: 0.5;
}

.main-nav__wrapper {
  display: flex;
  justify-content: center;
}
