.package {
  background-color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
}

.package__list {
  padding-top: 127px;
  display: flex;
  justify-content: center;
}

.package__package-name {
  background-color: @dark;
  font-weight: 700;
  color: white;
  width: 276px;
}

.package__price {
  color: white;
  font-weight: 300;
  font-size: 24px;
  background-color: @dark;
}

.package__options {
  font-size: 14px;
  color: @dark;
  font-weight: 300px;
  text-align: start;
  padding-left: 22px;
  background-color: white;
}

.package__icon {
  background-color: white;
}

.package__check-mark {
  fill: #3dc644;
  width: 31px;
  height: 21px;
  margin-right: 18px;
}

.package__cross {
  fill: #f25b26;
  width: 27px;
  height: 26px;
  margin-right: 19px;
}

.package__controls {
  padding-bottom: 51px;
}
