.publication {
  text-align: center;
  margin-top: 49px;
  margin-bottom: 48px;
  background-color: #f2f2f2;
  padding: 20px 20px 41px 18px;
}

.publication__functions {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 60px;
  align-items: center;
  position: relative;
}

.publication__icon {
  background: none;
  box-shadow: none;
  border: none;
  display: flex;
}

.publication__icon svg {
  fill: #283645;
  opacity: 0.3;
}

.publication__icon:hover svg {
  opacity: 0.5;
}

.publication__icon-active svg {
  fill: #d22856;
  opacity: 1;
}

.publication__button {
  width: 280px;
  border-radius: 27.5px;
  background-color: none;
  height: 55px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.publication__button-pink {
  border: solid 3px #d22856;
  color: #d22856;
  margin-bottom: 12px;
  margin-top: 60px;
}

.publication__button-pink:hover {
  background-color: #d22856;
  color: white;
}

.publication__button-pink:active {
  opacity: 0.5;
  background-color: #d22856;
  color: white;
}

.publication__button-gray {
  color: #283645;
  opacity: 0.1;
  border: solid 3px #283645;
}

.publication__button-gray:hover {
  opacity: 0.3;
}

.publication__button-gray:active {
  color: white;
  background-color: #283645;
  opacity: 0.3;
}

.publication__input {
  width: 240px;
  position: absolute;
  top: 40px;
  transform: translate(-55px, 30px);
}
