.user-contacts__information {
  color: #d22856;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 43px;
}

.user-contacts__form {
  font-size: 18px;
  line-height: 30px;
  color: @dark;
  margin: 16px 22px 29px 22px;
}

.user-contacts__fields {
  width: 276px;
  padding-top: 22px;
  padding-bottom: 18px;
  padding-left: 20px;
  border: solid 2px #e5e5e5;
}
