.user-contacts__information {
  color: #d22856;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 22px;
  padding-bottom: 5px;
  padding-top: 15px;
}

.user-contacts__form {
  font-size: 18px;
  line-height: 30px;
  color: @dark;
  height: 59px;
}

.user-contacts__fields {
  width: 80%;
  padding-left: 20px;
  border: 2px solid #e5e5e5;
}

@media (min-width: @tablet-width) {
  .user-contacts {
    display: flex;
  }
}
