html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0, auto;
  background-color: white;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  visibility: @visually-hidden;
  position: absolute;
  border: 0;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}
